<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"      
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        <title>#{titleController.pageTitle}</title> 
    </h:head>
    <h:body>
        <div class="container">
            <div class="navbar navbar-inverse">
                <div class="navbar-brand">
                    #{titleController.pageTitle} - Contact Details
                </div>
            </div>

            <h:form id="MyForm">
                <table class="table table-bordered ">
                    <tr>
                        <td width ="150" valign="top">Id:</td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "Id" >#{contactController.contact.contactId}</h:outputLabel>    
                        </td>
                    </tr>
                    <tr>
                        <td width ="100" valign="top">Name:</td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "Name" >#{contactController.contact.name}</h:outputLabel>    
                        </td>
                    </tr>
                     <tr>
                        <td width ="100" valign="top">Phone No:</td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "PhoneNo" >#{contactController.contact.phoneNo}</h:outputLabel>    
                        </td>
                    </tr>
                     <tr>
                        <td width ="100" valign="top">Email:</td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "Email" >#{contactController.contact.email}</h:outputLabel>    
                        </td>
                    </tr>
                   
                    <tr>
                        <td width ="100" valign="top">Role: </td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "Role" >#{contactController.contact.role}</h:outputLabel>    
                        </td>
                    </tr>
                    
                     <tr>
                        <td width ="100" valign="top">Registered By: </td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "RegisteredBy" >#{contactController.contact.registeredBy}</h:outputLabel>    
                        </td>
                    </tr>
                     <tr>
                        <td width ="100" valign="top">Registered On: </td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "RegisteredOn" >#{contactController.contact.registeredOn}</h:outputLabel>    
                        </td>
                    </tr>
            
                    
                 </table>   
                 <h:link id="close" value="Close" outcome="faces/contacts.xhtml"
						class="btn btn-primary" />
                
            </h:form>
        </div>
    </h:body>
</html>

