<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
    <h:head>
        <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        <h:outputStylesheet library="css" name="style.css"></h:outputStylesheet>
        <title>#{titleController.pageTitle}</title> 
    </h:head>
    <h:body>
        <div class="container">
            <div class="navbar navbar-inverse">
                <div class="navbar-brand">
                    #{titleController.pageTitle} - Add Contact
                </div>
            </div>
            <div>
        <f:view>
            <h:form>
               
                
                <table class="table table-bordered ">

                     <tr class="#{!contactName.valid ? 'has-error' : 'none'}">
                        <td>
                            <h:outputLabel value="Name:" for="contactName" />
                        </td>
                        <td>
                            <h:inputText id="contactName" value="#{contact.name}" title="contactName" required="true" requiredMessage="Please enter the contact name!" pt:placeholder="Kim Namjoon"/>
                            <br/>
                            <h:message for="contactName" class="#{!contactName.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    
                    </tr>
                    <tr class="#{!contactPhoneNo.valid ? 'has-error' : 'none'}">
                        <td>
                            <h:outputLabel value="Phone No:" for="contactPhoneNo" />
                        </td>
                        <td>
                            <h:inputText id="contactPhoneNo" value="#{contact.phoneNo}" title="contactPhoneNo" size = "10"  required="true" requiredMessage="Please enter the contact phone number!"
                            validatorMessage="Please enter a 10 digit phone number"
									converterMessage="Please enter a number"
									 pt:placeholder="0468294739">
									 <f:convertNumber integerOnly="true" /> </h:inputText>
                            <br/>
                            <h:message for="contactPhoneNo" class="#{!contactPhoneNo.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    
                    </tr>
                    <tr class="#{!contactEmail.valid ? 'has-error' : 'none'}">
                        <td>
                            <h:outputLabel value="Email:" for="contactEmail" />
                        </td>
                        <td>
                            <h:inputText id="contactEmail" value="#{contact.email}" title="contactEmail" required="true" requiredMessage="Please enter the contact email!" validatorMessage="Email entered for customer contact is not valid" pt:placeholder="kimnamjoon@gmail.com">
                            <f:validateRegex pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]" /></h:inputText>
                            <br/>
                            <h:message for="contactEmail" class="#{!contactEmail.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    
                    </tr>
                    
                    
                     <tr class="#{!contactRole.valid ? 'has-error' : 'none'}">
                        <td>
                            <h:outputLabel value="Contact Role:" for="contactRole" />
                        </td>
                        <td>
                            <h:inputText id="contactRole" value="#{contact.role}" title="contactRole" required="true" requiredMessage="Please enter the role of contact person in company" pt:placeholder="Manager"/>
                            <br/>
                            <h:message for="contactRole" class="#{!contactRole.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    
                    </tr>
                     
                    <tr class="#{!contactRegisteredBy.valid ? 'has-error' : 'none'}">
                        <td>
                            <h:outputLabel value="Registered By:" for="contactRegisteredBy" />
                        </td>
                        <td>
                            <h:inputText id="contactRegisteredBy" value="#{contact.registeredBy}" title="contactRegisteredBy" required="true" requiredMessage="Please enter the name of user who registered the contact " pt:placeholder="Daniel Radcliffe"/>
                            <br/>
                            <h:message for="contactRegisteredBy" class="#{!contactRegisteredBy.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    
                    </tr>
                    <tr class="#{!contactRegisteredOn.valid ? 'has-error' : 'none'}">
                        <td>
                            <h:outputLabel value="Registered On:" for="contactRegisteredOn" />
                        </td>
                        <td>
                            <h:inputText id="contactRegisteredOn" value="#{contact.registeredOn}" title="contactRegisteredOn" required="true" requiredMessage="Please enter the date on which the customer's contact is registered "  validatorMessage="Registration date entered for customer contact is not valid" pt:placeholder="01-11-2020">
                             <f:convertDateTime pattern = "dd-mm-yyyy" /></h:inputText>
                             <br/>
                            <h:message for="contactRegisteredOn" class="#{!contactRegisteredOn.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    
                    </tr>
                    
                    
                </table>
                
                <h:commandButton id="submit" value="Submit" action="#{addContact.addContact(contact)}" class="btn btn-primary" >
                </h:commandButton>
                <h:link id="close" value="Close" outcome="faces/contacts.xhtml"
						class="btn btn-primary" />
            	
            </h:form>
			
        </f:view>
            </div>
        </div>
       
    </h:body>
</html>

