<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"      
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        <title>#{titleController.pageTitle}</title> 
    </h:head>
    <h:body>
        <div class="container">
            <div class="navbar navbar-inverse">
                <div class="navbar-brand">
                    #{titleController.pageTitle} - Edit Contact Details
                </div>
            </div>

            <h:form id="MyForm">
                <table class="table table-bordered ">

                    <tr>
                        <td width ="200" valign="top">Id:</td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "Id" >#{contactController.contact.contactId}</h:outputLabel>    
                        </td>
                    </tr>
                    <tr>
                        <td width ="200" valign="top"> Name: </td>
                     
                        <td valign="bottom">
                            <h:inputText id = "Name" value="#{contactController.contact.name}" binding="#{name}" required="true"
                                         validatorMessage="Please enter a valid contact name"
                                         requiredMessage="Please enter a contact name "></h:inputText>    
                        </td>
                    </tr>
                    <tr>
                        <td width ="200" valign="top">Phone number: </td>
                     
                        <td valign="bottom">
                            <h:inputText id = "PhoneNo" value="#{contactController.contact.phoneNo}" binding="#{phoneNo}" required="true"
                                         validatorMessage="Please enter a valid phone number"
                                         requiredMessage="Please enter a phone number "></h:inputText>    
                        </td>
                    </tr>
                     <tr>
                        <td width ="200" valign="top">Email: </td>
                     
                        <td valign="bottom">
                            <h:inputText id = "Email" value="#{contactController.contact.email}" binding="#{email}" required="true"
                                         validatorMessage="Please enter a valid email address"
                                         requiredMessage="Please enter a email address "></h:inputText>    
                        </td>
                    </tr>
                    
                     
                    <tr>
                        <td width ="200" valign="top">Contact Role: </td>
                     
                        <td valign="bottom">
                            <h:inputText id = "Role" value="#{contactController.contact.role}" binding="#{role}" required="true"
                                         validatorMessage="Please enter a valid contact role"
                                         requiredMessage="Please enter a contact's role in customer company "></h:inputText>    
                        </td>
                    </tr>
           
                                      
                </table>
                
                <h:commandButton id="save" value="Save" action="#{contactManagedBean.editContact(contactController.contact)}"  class="btn btn-primary" >
                    <f:param name="customerID" value="#{contactController.contactId+1}"/>
                </h:commandButton>
                 &nbsp;
                <h:link id="close" value="Close" outcome="faces/contacts.xhtml"
						class="btn btn-primary" />
            </h:form>
        </div>
    </h:body>
</html>

