<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough">
    <h:head>
        <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        <title>#{titleController.pageTitle}</title>
    </h:head>
    <h:body>
        <div class="container">
            <div class="navbar navbar-inverse">
                <!-- Title Customer Management-->
                <div class="navbar-brand">
                    #{titleController.pageTitle} - Contact List
                </div>
            </div>
            
            <h:form id="MyForm">
                <table class="table table-bordered table-striped">
                    <!-- For each customer in customers ArrayList... -->
                    <tr>
                            <td>
                                <h:outputLabel id="ContactId" value="Contact Id"  />
                            </td>
                            <td>
                                <h:outputLabel id="Name" value="Name"  />
                            </td>
                            <td>
                                <h:outputLabel id="Email" value="Email"/>
                            </td>
                            <td>
                                <h:outputLabel id="Role" value="Role"  />
                            </td>
                     </tr>

                    <ui:repeat id="Myrepeat" value="#{contactApplication.contacts}"  var="contact" varStatus="status">
                        <tr onclick="document.getElementById('MyForm:principle').value = document.getElementById('MyForm:Myrepeat:#{status.index}:contactId').textContent">
                            <td>
                                <h:outputText value="#{contactApplication.contacts.get(status.index).contactId}" id="contactId" />
                            </td>
                            <td>
                                <h:outputText id="outName" value="#{contactApplication.contacts.get(status.index).name}"  />
                            </td>
                            <td>
                                <h:outputText id="outEmail" value="#{contactApplication.contacts.get(status.index).email}"></h:outputText>
                            </td>
                            <td>
                                <h:outputText id="outRole" value="#{contactApplication.contacts.get(status.index).role}"  />
                            </td>
                            <td>
                                <h:link value="View | " outcome="faces/contactdetails.xhtml">
                               
                                  <f:param name="contactID" value="#{status.index + 1}"/>
                                </h:link>

                                <h:link value="Edit | " outcome="faces/contactedit.xhtml">
                               
                                  <f:param name="contactID" value="#{status.index + 1}"/>
                                </h:link>

                                <h:commandLink value="Delete" action="#{removeContact.removeContact(contactApplication.contacts.get(status.index).contactId)}" disabled="#{contactApplication.contacts.get(status.index).contactId == null}">
                                </h:commandLink>
                                

                                <h:outputText value=" "/>
                            </td>
                              
                        </tr>

                    </ui:repeat>

                </table>
                <div>
                    <h:commandButton id="add" value="Add" action="contactadd.xhtml" class="btn btn-primary" />
                      &nbsp;
                    <h:commandButton id="viewAll" value="View All" action="#{searchContact.searchAll()}" class="btn btn-primary" >
                        <f:param name="contactID" value="#{status.index + 1}"/>
                    </h:commandButton>
                </div>
                
                 <div>
                    <h:inputText value="#{searchContact.searchByInt}" id="searchById" required="true" onchange ="if (document.getElementById('MyForm:searchById').value.trim() == '') {document.getElementById('MyForm:searchById').value = 0;} "   />
                    <h:commandButton id="searchContactId" value="Search by Contact Id" action="#{searchContact.searchContactById(searchContact.searchByInt)}" class="btn btn-primary" >
                        <f:param name="contactID" value="#{status.index + 1}"/>
                    </h:commandButton>
                </div>
                  &nbsp;               
                 <div>
                    <h:inputText value="#{searchContact.searchByString}" id="searchByName" required="false" onchange ="if (document.getElementById('MyForm:searchByName').value.trim() == '') {document.getElementById('MyForm:searchByName').value = '';} "   />
                    <h:commandButton id="searchContactName" value="Search by Contact Name" action="#{searchContact.searchContactByName(searchContact.searchByString)}" class="btn btn-primary" >
                        <f:param name="contactID" value="#{status.index + 1}"/>  &nbsp;
                    </h:commandButton>
                </div>
              
                <br/>
		<h:link outcome="/customerindex" value="Go back to Customers Area" />
		<br/>
		<h:link outcome="/admin/index" value="Go back to User Area" />

               

            </h:form>
        </div>
    </h:body>
</html>
