<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough">
    <h:head>
        <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        <title>#{titleController.pageTitle}</title>
    </h:head>
    <h:body>
        <div class="container">
            <div class="navbar navbar-inverse">
                <!-- Title Customer Management-->
                <div class="navbar-brand">
                    #{titleController.pageTitle} - Customer List
                </div>
            </div>
            
            <h:form id="MyForm">
                <table class="table table-bordered table-striped">
                    <!-- For each customer in customers ArrayList... -->
                    <tr>
                            <td>
                                <h:outputLabel id="CustomerId" value="Customer Id"  />
                            </td>
                            <td>
                                <h:outputLabel id="Name" value="Name"  />
                            </td>
                            <td>
                                <h:outputLabel id="Address" value="Address"/>
                            </td>
                            <td>
                                <h:outputLabel id="IndustryType" value="Industry Type"  />
                            </td>
                     </tr>

                    <ui:repeat id="Myrepeat" value="#{customerApplication.customers}"  var="customer" varStatus="status">
                        <tr onclick="document.getElementById('MyForm:principle').value = document.getElementById('MyForm:Myrepeat:#{status.index}:customerId').textContent">
                            <td>
                                <h:outputText value="#{customerApplication.customers.get(status.index).customerId}" id="customerId" />
                            </td>
                            <td>
                                <h:outputText id="outName" value="#{customerApplication.customers.get(status.index).name}"  />
                            </td>
                            <td>
                                <h:outputText id="outAddress" value="#{customerApplication.customers.get(status.index).address}"></h:outputText>
                            </td>
                            <td>
                                <h:outputText id="outIndustryType" value="#{customerApplication.customers.get(status.index).industryTypeName}"  />
                            </td>
                            <td>
                                <h:link value="View | " outcome="faces/customerdetail.xhtml">
                                <!-- pass the parameter to next page, the param name is customerID, and the value is index + 1.
                                  You can get the value from next page using the indexController -->
                                  <f:param name="customerID" value="#{status.index + 1}"/>
                                </h:link>

                                <h:link value="Edit | " outcome="faces/customeredit.xhtml">
                                <!-- pass the parameter to next page, the param name is propertyID, and the value is index + 1.
                                  You can get the value from next page using the indexController -->
                                  <f:param name="customerID" value="#{status.index + 1}"/>
                                </h:link>

                                <h:commandLink value="Delete | " action="#{removeCustomer.removeCustomer(customerApplication.customers.get(status.index).customerId)}" disabled="#{customerApplication.customers.get(status.index).customerId == null}">
                                </h:commandLink>
                                 <h:link value="Contacts " outcome="faces/contacts.xhtml">
                                   <f:param name="customerID" value="#{status.index + 1}"/>
                                </h:link>
                                
                            </td>

                        </tr>

                    </ui:repeat>

                </table>

                <div>
                    <h:commandButton id="add" value="Add" action="customeradd.xhtml" class="btn btn-primary" />
                    &nbsp; &nbsp;

                    <h:commandButton id="viewAll" value="View All" action="#{searchCustomer.searchAll()}" class="btn btn-primary" >
                        <f:param name="customerID" value="#{status.index + 1}"/>
                    </h:commandButton>
                </div>
                <div>
                    <h:inputText value="#{searchCustomer.searchByInt}" id="searchById" required="true" onchange ="if (document.getElementById('MyForm:searchById').value.trim() == '') {document.getElementById('MyForm:searchById').value = 0;} "   />
                    <h:commandButton id="searchId" value="Search by Id" action="#{searchCustomer.searchCustomerById(searchCustomer.searchByInt)}" class="btn btn-primary" >
                        <f:param name="customerID" value="#{status.index + 1}"/>  &nbsp;
                    </h:commandButton>
                </div>
                 &nbsp;               
                 <div>
                    <h:inputText value="#{searchCustomer.searchByString}" id="searchByName" required="false" onchange ="if (document.getElementById('MyForm:searchByName').value.trim() == '') {document.getElementById('MyForm:searchByName').value = '';} "   />
                    <h:commandButton id="searchName" value="Search by Name" action="#{searchCustomer.searchCustomerByName(searchCustomer.searchByString)}" class="btn btn-primary" >
                        <f:param name="customerID" value="#{status.index + 1}"/>  &nbsp;
                    </h:commandButton>
                </div>
               
                
		<br/>
		<h:link outcome="/admin/index" value="Go back to User Area" />
            </h:form>
        </div>
    </h:body>
</html>
