<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
    <h:head>
        <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        <h:outputStylesheet library="css" name="style.css"></h:outputStylesheet>
        <title>#{titleController.pageTitle}</title> 
    </h:head>
    <h:body>
        <div class="container">
            <div class="navbar navbar-inverse">
                <div class="navbar-brand">
                    #{titleController.pageTitle} - Add Customer
                </div>
            </div>
            <div>
        <f:view>
            <h:form>
               
                
                <table class="table table-bordered ">
                
              

                     <tr class="#{!customerName.valid ? 'has-error' : 'none'}">
                        <td>
                            <h:outputLabel value="Name:" for="customerName" />
                        </td>
                        <td>
                            <h:inputText id="customerName" value="#{customer.name}" title="customerName" required="true" requiredMessage="Please enter the customer name!" pt:placeholder="Australia and New Zealand Banking Group"/>
                            <br/>
                            <h:message for="customerName" class="#{!customerName.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    
                    </tr>
                    <tr class="#{!customerPhoneNo.valid ? 'has-error' : 'none'}">
                        <td>
                            <h:outputLabel value="Phone No:" for="customerPhoneNo" />
                        </td>
                        <td>
                            <h:inputText id="customerPhoneNo" value="#{customer.phoneNo}" title="customerPhoneNo" size = "10" required="true" requiredMessage="Please enter the customer phone number!" 
                            validatorMessage="Please enter a 10 digit phone number"
									converterMessage="Please enter a number"
									
									pt:placeholder="0468294739">
									<f:convertNumber integerOnly="true" /> </h:inputText>
                            <br/>
                            <h:message for="customerPhoneNo" class="#{!customerPhoneNo.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    
                    </tr>
                    <tr class="#{!customerEmail.valid ? 'has-error' : 'none'}">
                        <td>
                            <h:outputLabel value="Email:" for="customerEmail" />
                        </td>
                        <td>
                            <h:inputText id="customerEmail" value="#{customer.email}" title="customerEmail" required="true" requiredMessage="Please enter the customer email!" validatorMessage="Email entered for customer is not valid" pt:placeholder="anz@gmail.com">
                             <f:validateRegex pattern="[\w\.-]*[a-zA-Z0-9_]@[\w\.-]*[a-zA-Z0-9]\.[a-zA-Z][a-zA-Z\.]*[a-zA-Z]" /></h:inputText>
                            <br/>
                            <h:message for="customerEmail" class="#{!customerEmail.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    
                    </tr>
                  
                    <tr class="#{!customerRegisteredBy.valid ? 'has-error' : 'none'}">
                        <td>
                            <h:outputLabel value="Registered By:" for="customerRegisteredBy" />
                        </td>
                        <td>
                            <h:inputText id="customerRegisteredBy" value="#{customer.registeredBy}" title="customerRegisteredBy" required="true" requiredMessage="Please enter the name of user who registered the customer " pt:placeholder="Daniel Radcliffe"/>
              
                             <br/>
                            <h:message for="customerRegisteredBy" class="#{!customerRegisteredBy.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    
                    </tr>
                     <tr class="#{!customerRegisteredOn.valid ? 'has-error' : 'none'}">
                        <td>
                            <h:outputLabel value="Registered On:" for="customerRegisteredOn" />
                        </td>
                        <td>
                            <h:inputText id="customerRegisteredOn" value="#{customer.registeredOn}" title="customerRegisteredOn" required="true" requiredMessage="Please enter the date on which the customer is registered "  validatorMessage="Registration date entered for customer is not valid" pt:placeholder="01-11-2020">
                             <f:convertDateTime pattern = "dd-mm-yyyy" /></h:inputText>
                             <br/>
                            <h:message for="customerRegisteredOn" class="#{!customerRegisteredOn.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    
                    </tr>
                
                 <tr class="#{!customerAssignee.valid ? 'has-error' : 'none'}">
                        <td>
                            <h:outputLabel value="Customer Assigned To:" for="customerAssignedTo" />
                        </td>
                        <td>
                            <h:inputText id="customerAssignedTo" value="#{customer.customerAssignee}" title="customerAssignedTo" required="true" requiredMessage="Please enter the name of user to whom the customer is assigned" pt:placeholder="Daniel Radcliffe"/>
                            <br/>
                            <h:message for="customerAssignedTo" class="#{!customerAssignedTo.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    
                    </tr>
                
    
                
                    <tr class="#{!streetNumber.valid ? 'has-error' : 'none'}">
                        <td width ="200">
                            <h:outputLabel value="Street Number:" for="streetNumber" />
                        </td>
                        <td>
                            <h:inputText id="streetNumber" value="#{customer.streetNumber}" title="streetNumber" required="true" requiredMessage="Please enter the street number!" validatorMessage="Please enter a street number between 1 and 1000" converterMessage="Please enter a number" pt:placeholder="900">
	                            <f:convertNumber integerOnly="true"/>
								<f:validateLongRange minimum="1" maximum="1000" /> 
							</h:inputText>
                            <br/>
                            <h:message for="streetNumber" class="#{!streetNumber.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    </tr>

                    <tr class="#{!streetAddress.valid ? 'has-error' : 'none'}">
                        <td>
                            <h:outputLabel value="Street Address:" for="streetAddress" />
                        </td>
                        <td>
                            <h:inputText id="streetAddress" value="#{customer.streetAddress}" title="streetAddress" required="true" requiredMessage="Please enter the street address!" pt:placeholder="Dandenong Rd"/>
                            <br/>
                            <h:message for="streetAddress" class="#{!streetAddress.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    
                    </tr>
                    
                    <tr class="#{!suburb.valid ? 'has-error' : 'none'}">
                        <td>
                            <h:outputLabel value="Suburb:" for="suburb" />
                        </td>
                        <td>
                            <h:inputText id="suburb" value="#{customer.suburb}" title="suburb" required="true" requiredMessage="Please enter the suburb!" pt:placeholder="Caulfield East"/>
                        	<br/>
                            <h:message for="suburb" class="#{!suburb.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    
                    </tr>
                    
                    <tr class="#{!state.valid ? 'has-error' : 'none'}">
                        <td>
                            <h:outputLabel value="State:" for="state"/>
                        </td>
                        <td>
                            <h:inputText id="state" value="#{customer.state}" title="state" size="3" required="true" requiredMessage="Please enter the state!" pt:placeholder="VIC"/>
                            <br/>
                            <h:message for="state" class="#{!state.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    
                    </tr>
                    <tr class="#{!postcode.valid ? 'has-error' : 'none'}">
                        <td>
                            <h:outputLabel value="Postcode: " for="postcode" />
                        </td>
                        <td>
                            <h:inputText id="postcode" value="#{customer.postcode}" title="postcode" required="true" requiredMessage="Please enter the postcode!" validatorMessage="Please enter a postcode between 0200 and 4700" converterMessage="Please enter a number" pt:placeholder="3145">
	                            <f:convertNumber integerOnly="true"/>
								<f:validateLongRange minimum="200" maximum="4700" /> 
							</h:inputText>
							<br/>
							<h:message for="postcode" class="#{!postcode.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    
                    </tr>
                
                    
                    <tr>
                        <td>
                            <h:outputLabel value="Number Of Products Purchased:" for="numberOfProductsPurchased"/>
                        </td>
                        <td>
                            <h:inputText id="numberOfProductsPurchased" value="#{customer.noOfProductsPurchased}" title="NumberOfProductsPurchased" required="true" requiredMessage="Please enter the number of products purchased !" validatorMessage="The number of bedrooms must be larger than or equal to 0" converterMessage="Please enter a number" pt:placeholder="4">
                        		<f:convertNumber integerOnly="true"/>
                        		<f:validateLongRange minimum="0"/> 
                           	</h:inputText>
                           	<br/>
                           	<h:message for="numberOfProductsPurchased" class="#{!numberOfProductsPurchased.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    
                    </tr>
                     <tr>
							<td><h:outputLabel value="Industry Type:" for="industryType" /></td>
							<td><h:selectOneMenu id="industryType"
									value="#{customer.industryTypeName}" required="true" 
									 requiredMessage="Please select the industry type of customer !"
									 converter="#{industryType.industryTypeName}">
									<f:selectItem itemValue="#{null}" itemLabel="--select--" />
									<f:selectItems value="#{customerManagedBean.allIndustryType}"
										var="c" itemLabel="#{c.industryTypeName}" itemValue="#{c.industryTypeName}" />
								</h:selectOneMenu></td>
						</tr>
                    
          
                    
                    
                    
                </table>
                
                <h:commandButton id="submit" value="Submit" action="#{addCustomer.addCustomer(customer)}" class="btn btn-primary" >
                </h:commandButton>
                <h:link id="close" value="Close" outcome="faces/customerindex.xhtml"
						class="btn btn-primary" />
            	
            </h:form>
			
        </f:view>
            </div>
        </div>
       
    </h:body>
</html>

