<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"      
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        <title>#{titleController.pageTitle}</title> 
    </h:head>
    <h:body>
        <div class="container">
            <div class="navbar navbar-inverse">
                <div class="navbar-brand">
                    #{titleController.pageTitle} - Edit Customer Details
                </div>
            </div>

            <h:form id="MyForm">
                <table class="table table-bordered ">

                    <tr>
                        <td width ="200" valign="top">Id:</td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "Id" >#{customerController.customer.customerId}</h:outputLabel>    
                        </td>
                    </tr>
                    <tr>
                        <td width ="200" valign="top"> Name: </td>
                     
                        <td valign="bottom">
                            <h:inputText id = "Name" value="#{customerController.customer.name}" binding="#{name}" required="true"
                                         validatorMessage="Please enter a valid customer name"
                                         requiredMessage="Please enter a customer name "></h:inputText>    
                        </td>
                    </tr>
                    <tr>
                        <td width ="200" valign="top">Phone number: </td>
                     
                        <td valign="bottom">
                            <h:inputText id = "PhoneNo" value="#{customerController.customer.phoneNo}" binding="#{phoneNo}" required="true"
                                         validatorMessage="Please enter a valid phone number"
                                         requiredMessage="Please enter a phone number "></h:inputText>    
                        </td>
                    </tr>
                     <tr>
                        <td width ="200" valign="top">Email: </td>
                     
                        <td valign="bottom">
                            <h:inputText id = "Email" value="#{customerController.customer.email}" binding="#{email}" required="true"
                                         validatorMessage="Please enter a valid email address"
                                         requiredMessage="Please enter a email address "></h:inputText>    
                        </td>
                    </tr>
                      <tr>
                        <td width ="200" valign="top">Industry Type: </td>
                        <td>
                            <h:selectOneMenu id="industryType" value="#{customerController.customer.industryTypeName}" converter="#{industryType.industryTypeName}">
                                <f:selectItem itemValue="#{null}" itemLabel="--select--" />
                                <f:selectItems value="#{customerManagedBean.allIndustryType}" var="i"  
                                               itemLabel="#{i.industryTypeName}" itemValue="#{i.industryTypeName}" />
                            </h:selectOneMenu>
                        </td>
                       </tr>
                    <tr>
                        <td width ="200" valign="top">Customer Assigned To: </td>
                     
                        <td valign="bottom">
                            <h:inputText id = "CustomerAssignedTo" value="#{customerController.customer.customerAssignee}" binding="#{nameOfUser}" required="true"
                                         validatorMessage="Please enter a valid customer assignee name"
                                         requiredMessage="Please enter a customer assignee name "></h:inputText>    
                        </td>
                    </tr>
                    <tr>
                        <td width ="200" valign="top">Street number: </td>
                     
                        <td valign="bottom">
                            <h:inputText id = "streetNumber" value="#{customerController.customer.address.streetNumber}" binding="#{streetNumber}" required="true"
                                         validatorMessage="Please enter a valid street number."
                                         requiredMessage="Please enter an street number. "></h:inputText>    
                        </td>
                    </tr>
                     <tr>
                        <td width ="200" valign="top">Street Address: </td>
                     
                        <td valign="bottom">
                            <h:inputText id = "streetAddress" value="#{customerController.customer.address.streetAddress}" binding="#{streetAddress}" required="true"
                                         validatorMessage="Please enter a valid street address"
                                         requiredMessage="Please enter an street address "></h:inputText>    
                        </td>
                    </tr>
                    <tr>
                        <td width ="200" valign="top">Suburb: </td>
                     
                        <td valign="bottom">
                            <h:inputText id = "suburb" value="#{customerController.customer.address.suburb}" binding="#{suburb}" required="true"
                                         validatorMessage="Please enter a valid suburb name"
                                         requiredMessage="Please enter a suburb name "></h:inputText>    
                        </td>
                    </tr>
                    <tr>
                        <td width ="200" valign="top">State: </td>
                     
                        <td valign="bottom">
                            <h:inputText id = "state" value="#{customerController.customer.address.state}" binding="#{state}" required="true"
                                         validatorMessage="Please enter a valid state name"
                                         requiredMessage="Please enter a state name "></h:inputText>    
                        </td>
                    </tr>
                     <tr>
                        <td width ="200" valign="top">Post code: </td>
                     
                        <td valign="bottom">
                            <h:inputText id = "postcode" value="#{customerController.customer.address.postcode}" binding="#{postcode}" required="true"
                                         validatorMessage="Please enter a valid postcode "
                                         requiredMessage="Please enter a postcode "></h:inputText>    
                        </td>
                    </tr>
                    <tr>
                        <td width ="200" valign="top">No of Products Purchased: </td>
                        
                        <td valign="bottom">
                            <h:inputText id = "No-Products" value="#{customerController.customer.noOfProductsPurchased}"  required="true"
                                         validatorMessage="Number of products purchased must be greater than 0"
                                                 requiredMessage="Please enter number of products. "></h:inputText>    
                        </td>
                    </tr>
                                      
                </table>
                
                <h:commandButton id="save" value="Save" action="#{customerManagedBean.editCustomer(customerController.customer)}"  class="btn btn-primary" >
                    <f:param name="customerID" value="#{customerController.customerId+1}"/>
                </h:commandButton>
                <h:link id="close" value="Close" outcome="faces/customerindex.xhtml"
						class="btn btn-primary" />
            </h:form>
        </div>
    </h:body>
</html>

