<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
    <h:head>
        <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        <h:outputStylesheet library="css" name="style.css"></h:outputStylesheet>
        <title>#{titleController.pageTitle}</title> 
    </h:head>
    <h:body>
        <div class="container">
            <div class="navbar navbar-inverse">
                <div class="navbar-brand">
                    #{titleController.pageTitle} - Add Industry Type
                </div>
            </div>
            <div>
        <f:view>
            <h:form>
               
                
                <table class="table table-bordered ">

                     <tr class="#{!industryTypeName.valid ? 'has-error' : 'none'}">
                        <td>
                            <h:outputLabel value="industry Type Name:" for="industryTypeName" />
                        </td>
                        <td>
                            <h:inputText id="industryTypeName" value="#{industryType.industryTypeName}" title="industryTypeName" required="true" requiredMessage="Please enter the industry type name!" pt:placeholder="Bank"/>
                            <br/>
                            <h:message for="industryTypeName" class="#{!industryTypeName.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    
                    </tr>
                   
                   
                    
                    
                </table>
                
                <h:commandButton id="submit" value="Submit" action="#{addIndustryType.addIndustryType(industryType)}" class="btn btn-primary" >
                </h:commandButton>
                <h:link id="close" value="Close" outcome="faces/industrytypes.xhtml"
						class="btn btn-primary" />
            	
            </h:form>
			
        </f:view>
            </div>
        </div>
       
    </h:body>
</html>


