<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"      
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        <title>#{titleController.pageTitle}</title> 
    </h:head>
    <h:body>
        <div class="container">
            <div class="navbar navbar-inverse">
                <div class="navbar-brand">
                    #{titleController.pageTitle} - Edit Industry Type Details
                </div>
            </div>

            <h:form id="MyForm">
                <table class="table table-bordered ">

                    <tr>
                        <td width ="200" valign="top">Id:</td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "Id" >#{industryTypeController.industryType.industryTypeId}</h:outputLabel>    
                        </td>
                    </tr>
                    <tr>
                        <td width ="200" valign="top">Industry Type Name: </td>
                     
                        <td valign="bottom">
                            <h:inputText id = "Name" value="#{industryTypeController.industryType.industryTypeName}" binding="#{name}" required="true"
                                         validatorMessage="Please enter a valid industry type for customer"
                                         requiredMessage="Please enter name of the industry type "></h:inputText>    
                        </td>
                    </tr>
                   
                                      
                </table>
                
                <h:commandButton id="save" value="Save" action="#{industryTypeManagedBean.editIndustryType(industryTypeController.industryType)}"  class="btn btn-primary" >
                    <f:param name="industryTypeID" value="#{industryTypeController.industryTypeId+1}"/>
                </h:commandButton>
                <h:link id="close" value="Close" outcome="faces/industrytypes.xhtml"
						class="btn btn-primary" />
            </h:form>
        </div>
    </h:body>
</html>


