<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough">
    <h:head>
        <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        <title>#{titleController.pageTitle}</title>
    </h:head>
    <h:body>
        <div class="container">
            <div class="navbar navbar-inverse">
                
                <div class="navbar-brand">
                    #{titleController.pageTitle} - Industry Type List
                </div>
            </div>
            
            <h:form id="MyForm">
                <table class="table table-bordered table-striped">
                   
                    <tr>
                            <td>
                                <h:outputLabel id="IndustryTypeId" value="Industry Type Id"  />
                            </td>
                            <td>
                                <h:outputLabel id="IndustryTypeName" value="Industry Type Name"  />
                            </td>
                           
                     </tr>

                    <ui:repeat id="Myrepeat" value="#{industryTypeApplication.industryTypes}"  var="industrytype" varStatus="status">
                        <tr onclick="document.getElementById('MyForm:principle').value = document.getElementById('MyForm:Myrepeat:#{status.index}:industryTypeId').textContent">
                            <td>
                                <h:outputText value="#{industryTypeApplication.industryTypes.get(status.index).industryTypeId}" id="industryTypeId" />
                            </td>
                            <td>
                                <h:outputText id="outName" value="#{industryTypeApplication.industryTypes.get(status.index).industryTypeName}"  />
                            </td>
                           
                            <td>
                                <h:link value="View | " outcome="faces/industrytypedetails.xhtml">
                              
                                  <f:param name="industryTypeID" value="#{status.index + 1}"/>
                                </h:link>

                                <h:link value="Edit | " outcome="faces/industrytypeedit.xhtml">
                             
                                  <f:param name="industryTypeID" value="#{status.index + 1}"/>
                                </h:link>

                                <h:commandLink value="Delete " action="#{removeIndustryType.removeIndustryType(industryTypeApplication.industryTypes.get(status.index).industryTypeId)}" disabled="#{industryTypeApplication.industryTypes.get(status.index).industryTypeId == null}">
                                </h:commandLink>
                                 
                                <h:outputText value=" "/>
                            </td>

                        </tr>

                    </ui:repeat>

                </table>

                <div>
                    <h:commandButton id="add" value="Add" action="industrytypeadd.xhtml" class="btn btn-primary" />

                    <h:commandButton id="viewAll" value="View All" action="#{searchIndustryType.searchAll()}" class="btn btn-primary" >
                        <f:param name="industryTypeID" value="#{status.index + 1}"/>
                    </h:commandButton>
                </div>
                <div>
                    <h:inputText value="#{searchIndustryType.searchByInt}" id="searchById" required="true" onchange ="if (document.getElementById('MyForm:searchById').value.trim() == '') {document.getElementById('MyForm:searchById').value = 0;} "   />
                    <h:commandButton id="searchId" value="Search by Id" action="#{searchIndustryType.searchIndustryTypeById(searchIndustryType.searchByInt)}" class="btn btn-primary" >
                        <f:param name="industryTypeID" value="#{status.index + 1}"/>
                    </h:commandButton>
                </div>
                

            </h:form>
        </div>
    </h:body>
</html>
