<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"      
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        <title>#{titleController.pageTitle}</title> 
    </h:head>
    <h:body>
        <div class="container">
            <div class="navbar navbar-inverse">
                <div class="navbar-brand">
                    #{titleController.pageTitle} - User Details
                </div>
            </div>

            <h:form id="MyForm">
                <table class="table table-bordered ">
                    <tr>
                        <td width ="150" valign="top">Id:</td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "Id" >#{appUserController.appUser.id}</h:outputLabel>    
                        </td>
                    </tr>
                    <tr>
                        <td width ="100" valign="top">Name:</td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "Name" >#{appUserController.appUser.name}</h:outputLabel>    
                        </td>
                    </tr>
                     <tr>
                        <td width ="100" valign="top">Phone No:</td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "PhoneNo" >#{appUserController.appUser.phoneNo}</h:outputLabel>    
                        </td>
                    </tr>
                     <tr>
                        <td width ="100" valign="top"> User name:</td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "Username" >#{appUserController.appUser.username}</h:outputLabel>    
                        </td>
                    </tr>
                    <tr>
                        <td width ="100" valign="top">Password: </td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "Role" >#{appUserController.appUser.password}</h:outputLabel>    
                        </td>
                    </tr>
              
            
                    
                 </table>   
                 <h:link id="close" value="Close" outcome="faces/users.xhtml"
						class="btn btn-primary" />
                
            </h:form>
        </div>
    </h:body>
</html>

