<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"      
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        <title>#{titleController.pageTitle}</title> 
    </h:head>
    <h:body>
        <div class="container">
            <div class="navbar navbar-inverse">
                <div class="navbar-brand">
                    #{titleController.pageTitle} - Edit User Details
                </div>
            </div>

            <h:form id="MyForm">
                <table class="table table-bordered ">

                    <tr>
                        <td width ="200" valign="top">Id:</td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "Id" >#{appUserController.user.id}</h:outputLabel>    
                        </td>
                    </tr>
                    <tr>
                        <td width ="200" valign="top"> Name: </td>
                     
                        <td valign="bottom">
                            <h:inputText id = "Name" value="#{appUserController.appUser.name}" binding="#{name}" required="true"
                                         validatorMessage="Please enter a valid name for user"
                                         requiredMessage="Please enter name of the user "></h:inputText>    
                        </td>
                    </tr>
                    <tr>
                        <td width ="200" valign="top">Phone number: </td>
                     
                        <td valign="bottom">
                            <h:inputText id = "PhoneNo" value="#{appUserController.appUser.phoneNo}" binding="#{phoneNo}" required="true"
                                         validatorMessage="Please enter a valid phone number"
                                         requiredMessage="Please enter a phone number "></h:inputText>    
                        </td>
                    </tr>
                     <tr>
                        <td width ="200" valign="top">User name: </td>
                     
                        <td valign="bottom">
                            <h:inputText id = "Email" value="#{appUserController.appUser.username}" binding="#{username}" required="true"
                                         validatorMessage="Please enter a valid username "
                                         requiredMessage="Please enter a username "></h:inputText>    
                        </td>
                    </tr>
                     
                    <tr>
                        <td width ="200" valign="top">Password: </td>
                     
                        <td valign="bottom">
                            <h:inputText id = "Password" value="#{appUserController.appUser.password}" binding="#{password}" required="true"
                                         validatorMessage="Please enter a valid password"
                                         requiredMessage="Please enter a password "></h:inputText>    
                        </td>
                    </tr>
           
                                      
                </table>
                
                <h:commandButton id="save" value="Save" action="#{appUserManagedBean.editAppUser(appUserController.appUser)}"  class="btn btn-primary" >
                    <f:param name="userID" value="#{appUserController.userId+1}"/>
                </h:commandButton>
                <h:link id="close" value="Close" outcome="faces/users.xhtml"
						class="btn btn-primary" />
            </h:form>
        </div>
    </h:body>
</html>

