<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
    <h:head>
        <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        <h:outputStylesheet library="css" name="style.css"></h:outputStylesheet>
        <title>#{titleController.pageTitle}</title> 
    </h:head>
    <h:body>
        <div class="container">
            <div class="navbar navbar-inverse">
                <div class="navbar-brand">
                    #{titleController.pageTitle} - Add User
                </div>
            </div>
            <div>
        <f:view>
            <h:form>
               
                
                <table class="table table-bordered ">

                     <tr class="#{!name.valid ? 'has-error' : 'none'}">
                        <td>
                            <h:outputLabel value="Name:" for="name" />
                        </td>
                        <td>
                            <h:inputText id="name" value="#{appUser.name}" title= "name" required="true" requiredMessage="Please enter the user name!" pt:placeholder="Kim Namjoon"/>
                            <br/>
                            <h:message for="name" class="#{!name.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    
                    </tr>
                    <tr class="#{!userPhoneNo.valid ? 'has-error' : 'none'}">
                        <td>
                            <h:outputLabel value="Phone No:" for="userPhoneNo" />
                        </td>
                        <td>
                            <h:inputText id="userPhoneNo" value="#{appUser.phoneNo}" title="userPhoneNo" required="true" requiredMessage="Please enter the user phone number!" pt:placeholder="0468294739"/>
                            <br/>
                            <h:message for="userPhoneNo" class="#{!userPhoneNo.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    
                    </tr>
                    <tr class="#{!username.valid ? 'has-error' : 'none'}">
                        <td>
                            <h:outputLabel value="Username:" for="username" />
                        </td>
                        <td>
                            <h:inputText id="username" value="#{appUser.username}" title="username" required="true" requiredMessage="Please enter the username of user!" pt:placeholder="kimnamjoon"/>
                            <br/>
                            <h:message for="username" class="#{!username.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    
                    </tr>
                    
                     <tr class="#{!password.valid ? 'has-error' : 'none'}">
                        <td>
                            <h:outputLabel value="Password:" for="password" />
                        </td>
                        <td>
                            <h:inputText id="password" value="#{appUser.password}" title="password" required="true" requiredMessage="Please enter the password of user" pt:placeholder="kimnamjoon123"/>
                            <br/>
                            <h:message for="password" class="#{!password.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    
                    </tr>
                    
                   
                    
                    
                </table>
                
                <h:commandButton id="submit" value="Submit" action="#{addAppUser.addUser(appUser)}" class="btn btn-primary" >
                </h:commandButton>
                <h:link id="close" value="Close" outcome="faces/users.xhtml"
						class="btn btn-primary" />
            	
            </h:form>
			
        </f:view>
            </div>
        </div>
       
    </h:body>
</html>

