<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough">
    <h:head>
        <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        <title>#{titleController.pageTitle}</title>
    </h:head>
    <h:body>
        <div class="container">
            <div class="navbar navbar-inverse">
                
                <div class="navbar-brand">
                    #{titleController.pageTitle} - User List
                </div>
            </div>
            
            <h:form id="MyForm">
                <table class="table table-bordered table-striped">
                   
                    <tr>
                            <td>
                                <h:outputLabel id="UserId" value="User Id"  />
                            </td>
                            <td>
                                <h:outputLabel id="Name" value="Name"  />
                            </td>
                            <td>
                                <h:outputLabel id="PhoneNo" value="Phone No"/>
                            </td>
                            <td>
                                <h:outputLabel id="Username" value="Username"  />
                            </td>
                     </tr>

                    <ui:repeat id="Myrepeat" value="#{appUserApplication.appUsers}"  var="appUser" varStatus="status">
                        <tr onclick="document.getElementById('MyForm:principle').value = document.getElementById('MyForm:Myrepeat:#{status.index}:userId').textContent">
                            <td>
                                <h:outputText value="#{appUserApplication.appUsers.get(status.index).id}" id="userId" />
                            </td>
                            <td>
                                <h:outputText id="outName" value="#{appUserApplication.appUsers.get(status.index).name}"  />
                            </td>
                            <td>
                                <h:outputText id="outPhoneNo" value="#{appUserApplication.appUsers.get(status.index).phoneNo}"></h:outputText>
                            </td>
                            <td>
                                <h:outputText id="outUsername" value="#{appUserApplication.appUsers.get(status.index).username}"  />
                            </td>
                            <td>
                                <h:link value="View | " outcome="faces/userdetails.xhtml">
                             
                                  <f:param name="userID" value="#{status.index + 1}"/>
                                </h:link>

                                <h:link value="Edit | " outcome="faces/useredit.xhtml">
                                
                                  <f:param name="userID" value="#{status.index + 1}"/>
                                </h:link>

                                <h:commandLink value="Delete | " action="#{removeAppUser.removeUser(appUserApplication.appUsers.get(status.index).id)}" disabled="#{appUserApplication.appUsers.get(status.index).id == null}">
                                </h:commandLink>
                                 
                                <h:outputText value=" "/>
                            </td>

                        </tr>

                    </ui:repeat>

                </table>

                <div>
                    <h:commandButton id="add" value="Add" action="useradd.xhtml" class="btn btn-primary" />

                    <h:commandButton id="viewAll" value="View All" action="#{searchAppUser.searchAll()}" class="btn btn-primary" >
                        <f:param name="userID" value="#{status.index + 1}"/>
                    </h:commandButton>
                </div>
                <div>
                    <h:inputText value="#{searchAppUser.searchByInt}" id="searchById" required="true" onchange ="if (document.getElementById('MyForm:searchById').value.trim() == '') {document.getElementById('MyForm:searchById').value = 0;} "   />
                    <h:commandButton id="searchId" value="Search by Id" action="#{searchAppUser.searchUserById(searchAppUser.searchByInt)}" class="btn btn-primary" >
                        <f:param name="userID" value="#{status.index + 1}"/>
                    </h:commandButton>
                </div>
                

            </h:form>
        </div>
    </h:body>
</html>
