<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

	<h:head></h:head> 
	<body> 
		<h1>Welcome to user area</h1>
		<br/>
		<h:link outcome="/index" value="Go back to Home" />
		<br/>
		<h:link outcome="/customerindex" value="Customers" />
		<br/>
		<h:link outcome="/contacts" value="Contacts" />
	</body> 
</html>
